<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
	Welcome to {{title}}!
  </h1>
</div>
<!-- <h2>Here are some links to help you start: </h2>
 -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="#">Users</a>
	</div>
	<ul class="nav navbar-nav">
	  <a><li routerLink="/user"> User Center</li></a>
	</ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<!-- <ul>
  <li>
	<h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
	<h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
	<h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<router-outlet></router-outlet>
